.env
.npm
.gen
.terraform
.vscode
terraform.tfstate*
build
dist
cdktf.log
cdktf.out
node_modules
secrets
tsconfig.tsbuildinfo
*.d.ts
*.js
!.eslintrc.js
!jest.config.js
!setup.js
appspec*.json
taskdef*.json
appspec.json
secrets
